<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Plans</title>
</head>
<body>
    <header>
        <h1>Welcome to the secret society.</h1>
        <h4>Now, I will be updating this page as per my mood, do not have high expectations from this page.</h4>
    </header>
    <section>
        <div class="txt-body">
            <h3>You have no idea, i have no idea.</h3>
            <h3>we have no idea.</h3>
            <h2>What am i doing, basically nothing.</h2>
        </div>
    </section>
    <section id="subjects">
        <section id="cd">
            <h3>Compiler Design</h3>
            <div class="txt-body">NGL, i need help for this too</div>
        </section>
        <section id="os">
            <h3>Operating System</h3>
            <div class="btn"><a href="/os">Notes</a></div>
            <div class="txt-body">I love this subject</div>
        </section>
        <section id="oops">
            <h3>OOPS</h3>
            <div class="txt-body">OOPS, no plan</div>
        </section>
        <section id="ai">
            <h3>AI</h3>
            <div class="txt-body">I love this subject but no plan</div>
        </section>
        <section id="SE"><h3>Software Engineering</h3>
            <div class="txt-body">I love this subject</div>
        </section>
        <section id="im"><h3>Industrial MAnagement</h3>
            <div class="btn"><a href="humanities"></a></div>
            <div class="txt-body">Jsut like always i forgot about it</div>
        </section>
    </section>
</body>
</html>