<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Plans</title>
</head>
<body>
    <header>
        <h1>Welcome to the secret society.</h1>
        <h4>Now, I will be updating this page as per my mood, do not have high expectations from this page.</h4>
    </header>
    <section id="main">
        <section id="cd">
            <h3>Compiler Design</h3>
            <div class="txt-body">NGL, i need help for this too</div>
        </section>
        <section id="os">I have a dedicated page for that.
            <div class="btn"><a href="/os">Notes</a></div>
            <div class="txt-body">I love this subject</div>
        </section>
    </section>
</body>
</html>