<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects || Satviky</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="keywords"
        content="Project Rescue,  Project Rescue- Mystery game by Satviky, Project Rescue - Mystery Game India, Project Rescue - game by Indian devs, projets by satviky, projects by satvik gupta, final year project ideas, ideas for final year college project, Net-Banking project using JSP, net-banking jsp project">

    <meta name="description" content="Projects made/in progress by Satviky">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="p-3 mb-2 bg-black text-white d-flex justify-content-lg-between">
        <div class="my-name"> Satviky </div>
        <div class="nav-default">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/projects"> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ai">Artificial Intelligence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="nav-phone">
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    &#8801;
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home Page</a></li>
                    <li><a class="dropdown-item" href="/cv">CV</a></li>
                    <li><a class="dropdown-item active" aria-current="true" href="/projects">Projects</a></li>
                    <li><a class="dropdown-item" href="/ai">AI</a></li>
                    <li><a class="dropdown-item" href="/contact">Contacts</a></li>
                </ul>
            </div>

        </div>
    </nav>
    
    <section id="main">
        <div id="Net-Banking">
            <h2>Net-Banking/Online Banking</h2>
            <div class="txt-body">
                <p>Net banking, also known as Online banking.</p>

                <h4>Importance:</h4>
                <ul>
                    <li>Convenient/accessible 24/7</li>
                    <li>Reduces reliance on manual processes</li>
                    <li>Supports a cashless economy</li>
                </ul>

                <h4>Objective:</h4>
                <p>To utilize the concept and technologies to build a secure and fully functional net banking system.
                </p>

                <h4>Technologies Used:</h4>
                <ul>
                    <li><b>Frontend:</b> JSP, CSS, and Javascript</li>
                    <li><b>Backend:</b> Servlet, DTO, and Dao</li>
                    <li><b>Database:</b> MYSQL</li>
                </ul>

                <h4>Features of the System:</h4>
                <ul>
                    <li>Secure user authentication and access control</li>
                    <li>User-friendly interface for seamless navigation</li>
                    <li>Account management with detailed profile information</li>
                    <li>Facilitates secure and efficient online transactions</li>
                    <li>Dedicated support section for customer queries and assistance</li>
                </ul>

                <h4>Project Implementation:</h4>
                <ul>
                    <li>Designed and developed the following pages: <ul>
                            <li><b>Login Page:</b> User can login and access the website</li>
                            <li><b>Default Page:</b> User-friendly interface for navigation</li>
                            <li><b>Profile Page:</b> Displays account details and management options</li>
                            <li><b>Payment Page:</b> Facilitates secure online transactions</li>
                            <li><b>Support Page:</b> Dedicated section for customer queries and assistance</li>
                        </ul>
                    </li>
                    <li>Integrated MySQL database using MySQL Command Shell for secure and efficient data handling</li>
                    <li>Development Environment: Project developed using Eclipse IDE for seamless coding and debugging
                    </li>
                    <li><b>Ongoing Development:</b>
                        <ul>
                            <li>Enhancing security features for user authentication</li>
                            <li>Adding real-time transaction notifications</li>
                            <li>Implementing advanced data analytics for user insights</li>
                        </ul>
                    </li>
                </ul>
            
                <button class="btn btn-dark btn-outline-light" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Know More
                </button>

                <div data-bs-theme="dark" class="offcanvas offcanvas-end oc-p" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Net-Banking</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="conclusion">
                            <h4>Conclusion</h4>
                            <p>
                                The Net-Banking project represents a significant achievement in developing a secure,
                                user-friendly, and efficient online banking system. By utilizing modern web
                                technologies, robust
                                backend frameworks, and an integrated MySQL database, we have created a platform that
                                offers
                                seamless navigation, secure transactions, and comprehensive account management.
                            </p>
                            <h4>Key Achievements:</h4>
                            <ul>
                                <li><b>Secure Authentication:</b> Implemented robust user authentication mechanisms
                                    to ensure the safety of user data.</li>
                                <li><b>User-Friendly Interface:</b> Designed intuitive interfaces that enhance user
                                    experience and accessibility.</li>
                                <li><b>Comprehensive Account Management:</b> Provided detailed profile management
                                    and transaction functionalities.</li>
                                <li><b>Efficient Online Transactions:</b> Enabled secure and swift financial
                                    transactions, supporting a cashless economy.</li>
                                <li><b>Dedicated Customer Support:</b> Created a support system to address user
                                    queries and provide assistance.</li>
                            </ul>
                            <h4>Importance:</h4>
                            <p>
                                The project underscores the importance of digital transformation in the banking
                                sector. It not only reduces reliance on manual processes but also offers 24/7
                                accessibility, supporting the shift towards a cashless economy.
                            </p>
                            <h4>Reflection:</h4>
                            <p>
                                Throughout the development process, we encountered various challenges, particularly
                                in ensuring data security and optimizing user experience. However, these challenges
                                provided valuable learning opportunities, allowing us to enhance our problem-solving
                                skills and technical expertise. The project development using Eclipse IDE
                                facilitated seamless coding and debugging, ensuring a smooth development workflow.
                            </p>
                            <p>
                                Looking ahead, ongoing development efforts will focus on enhancing security
                                features, implementing real-time notifications, and incorporating advanced data
                                analytics to provide deeper insights for users.
                            </p>
                            <p>
                                In conclusion, the Net-Banking project is a testament to the potential of technology
                                in revolutionizing financial services. It paves the way for future innovations and
                                improvements in the online banking landscape.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rescue">
            <h2>Project Rescue</h2>
            <div class="txt-body">
                <p>Team project initiated by me</p>
                <h4>Importance</h4>
                <ul>
                    <li>
                        A game, shows ability to code complex programs
                    </li>
                    <li>
                        Shows the teamwork and dedication to meet the desired goal.
                    </li>
                    <li>
                        A good way to show creativity along with learning.
                    </li>
                    <li>
                        Provides a good weightage to the CV
                    </li>
                </ul>
                <h4>Objective</h4>
                To showcase the creativity and abiity to combine leisure and work.
                <h4>Technologies used</h4>
                <ul>
                    <h4>Web prototype/Demo</h4>
                    <ul>
                        <li>
                            <b>Frontend:</b> React, Css
                        </li>
                        <li>
                            <b>Backend:</b>Express
                        </li>
                        <li>Database:</li> Mongoose, MongoDB,
                    </ul>
                    <h4>Main Game</h4>
                    <ul>
                        <li>
                            <b>Language:</b> Kotlin
                        </li>
                        <li>
                            <b>Graphics:</b> utility
                        </li>
                        <li>
                            <b>Designing:</b> 
                        </li>
                    </ul>
                </ul>
                <h4>Status:</h4>
                <ul>
                    <li><b>Story:</b>Frame 1 completed.</li>
                    <li><b>Prototype:</b>In progress.</li>
                    <li><b>Android Application:</b> Not Started</li>
                    <li><b>Ios Compatible application:</b>Not Started</li>
                </ul>
            </div>
        </div>
        <div id="ai-companion">
            <h2>AI Companion</h2>
            <p>Yet Another Personal Project, but for students, like me.</p>
        </div>
    </section>
    
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.offcanvas .nav-link');
        links.forEach(link => {
            link.addEventListener('click', function (event) {
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
                const offcanvas = document.querySelector('.offcanvas');
                const bootstrapOffcanvas = bootstrap.Offcanvas.getInstance(offcanvas);
                bootstrapOffcanvas.hide();
            });
        });

        const offcanvasElement = document.getElementById('offcanvasNavbar');
        offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
            const target = document.querySelector(window.location.hash);
            if (target) {
                target.scrollIntoView({ behavior: 'smooth' });
            }
        });
    });
</script>

</html>