<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplify Goals</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <nav class="no-phone">
        <div class="logo">
            <a href="/shadowveil-studioZ">
                <img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo">
            </a>
        </div>
        <div class="nav-bar">
            <ul>
                <li><a href="/shadowveil-studioZ/projects">Our Projects</a></li>
                <li><a href="/shadowveil-studioZ/simplify-goals">Simplify Goals</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <nav class="sc">
        <button id="toggle-btn"><img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo"> Shadowveil
            StudioZ
        </button>
        <ul id="nav-menu">
            <li><a href="/shadowveil-studioZ/projects">Our Projects</a></li>
            <li><a href="/shadowveil-studioZ/simplify-goals">Simplify Goals</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <h1>Simplify Goals</h1>
    <h2>Introduction</h2>
    <div class="txt">Simplify Goals aims to make your day more productive by its amazing features.</div>
</body>
</html>