<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplify Goals</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <h1>Simplify Goals</h1>
    <h2>Introduction</h2>
    <div class="txt">Simplify Goals aims to make your day more productive by its amazing features.</div>
</body>
</html>