<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <h1>Projects by Shadowveil StudioZ</h1>
    <h2>Web Projects</h2>
    <ul>
        <li>Spiele Zone</li>
        <strong>Hosted</strong> and continuos work is going on in this website to keep new games coming up and old one optimized and updated.
        <li>Spiele 3D</li>
        <strong>Work in progress</strong> will be live soon
    </ul>
    <h2>Apps</h2>
    <ul>
        <li>Simplify Goals</li>
        <li>ResQ</li>
    </ul>
</body>
</html>