<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <nav class="no-phone">
        <div class="logo">
            <a href="/shadowveil-studioZ">
                <img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo">
            </a>
        </div>
        <div class="nav-bar">
            <ul>
                <li><a href="/shadowveil-studioZ/projects">Our Projects</a></li>
                <li><a href="/shadowveil-studioZ/simplify-goals">Simplify Goals</a></li>
                <li><a href="/shadowveil-studioZ#team">Team</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <nav class="sc">
        <button id="toggle-btn"><img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo"> Shadowveil
            StudioZ
        </button>
        <ul id="nav-menu">
            <li><a href="/shadowveil-studioZ/projects">Our Projects</a></li>
            <li><a href="/shadowveil-studioZ/simplify-goals">Simplify Goals</a></li>
            <li><a href="/shadowveil-studioZ#team">Team</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <h1>Projects by Shadowveil StudioZ</h1>
    <h2>Web Projects</h2>
    <ul>
        <li><a href="#sz">Spiele Zone</a></li>
        <li><a href="#s3d">Spiele 3D</a></li>
        </ul>
    <h2>Apps</h2>
    <ul>
        <li><a href="#sg">Simplify goals</a></li>
        <li><a href="#resq">ResQ</a></li>
    </ul>
    <div class="sep"></div>
    <section class="sz">
        <h3>Spiele Zone</h3>
        <strong>Spiele Zone</strong> is a game website. It have nostalgic games present with a little modern touch.
        <p>For now we have 3 working games in the website</p>
        <div class="sl"><a href="https://spiele-zone.vercel.com">Link to Website</a></div>
        <ul>
            <li><a href="#2048">2048</a></li>
            <li><a href="#snake">Snake</a></li>
            <li><a href="#hm">Hangman</a></li>
        </ul>
        <h4 id="2048">2048</h4>
        <p><strong>2048</strong> is the 2nd most visited page of Spiele Zone. It is the classic 2048 we all know</p>
        <h5>Pros</h5>
        <ul>
            <li>Beautiful colour theme</li>
            <li>Mind refreshing game</li>
        </ul>
        <h5>Cons</h5>
        <ul>
            <li>No Score tracking</li>
        </ul>
        
        <div class="msep"></div>
        <h4 id="snake"></h4>
        <p><strong>Snake</strong> is the most played game on our website.</p>
        <h5>Pros</h5>
        <ul>
            <li>Nostalgic Vibes</li>
            <li>Smooth Gameplay</li>
            <li>Good sound effects</li>
        </ul>
        <h5>Cons</h5>
        <ul>
            <li>Snake's speed doesn't keep increasing for now</li>
            <li>No different game modes available.</li>
        </ul>
        <div class="msep"></div>
        <h4 id="hm">Hangman</h4>
        <p><strong>Hangman</strong> is the first game which we made for this website.</p>
        <p>It is little different than the classic hangman we all know. In this version you have to guess the correct 6letter word in 9 chances.</p>
        <h5>Pros</h5>
        <ul>
            <li>Good for vocabulary</li>
            <li>Easy to play</li>
        </ul>
        <h5>Cons</h5>
        <ul>
            <li>Can't keep you entertained for long.</li>
        </ul>
    </section>
    <div class="sep"></div>
    <section id="s3d">
        <h3>Spiele 3D</h3>
        <p>This website is still under construction.</p>
        <h4>Technology used</h4>
        <ul>
            <li>Next.js</li>
            <li>Three.js</li>
            <li>CSS</li>
        </ul>
        <h4>Skills used</h4>
        <ul>
            <li>Game Logic</li>
            <li>Web Development</li>
            <li>Frontend Development</li>
        </ul>
    </section>
    <div class="sep"></div>
    <section id="sg">
        <h3>Simplify Goals</h3>
        <p><strong>Simplify Goals</strong>aims to help you in managing your task</p>
        <h4>Pros</h4>
        <ul>
            <li>Will keep you motivated to do your task</li>
            <li>Will help in managing all the task</li>
            <li>Specially designed for people dealing with ADHD</li>
        </ul>
        <h4>Cons</h4>
        <ul>
            <li>Still in development</li>
            <li>Features keep getting changed to avoid lags and discomfort to users.</li>
        </ul>
        <a href="/shadowveil-studioZ/simplify-goals" id="km">Know More</a>
    </section>
    <div class="sep"></div>
    <section id="resq">
        <h3>Project Rescue</h3>
        <p><strong>ResQ</strong>is a immersive chat based game.</p>
    </section>
</body>
</html>