<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowveil StudioZ</title>
    <link rel="canonical" href="https://gsatvik.com/Shadowveil-StudioZ" />
    <meta name="description"
        content="Shadowveil StudioZ is a creative studio building games, productivity apps, and immersive experiences. Discover Spiele Zone, Simplify Goals, and more." />

    <link rel="stylesheet" href="styles2.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="/images/ssz-logo-def.png" alt="Shadowveil Logo">
        </div>
        <div class="nav-bar no-phone">
            <ul>
                <li><a href="">Spiele Zone</a></li>
                <li><a href="">Simplify Goals</a></li>
                <li><a href="">ResQ</a></li>
            </ul>
        </div>
        <div class="sc">
            <ul>
                <li><a href="">Spiele Zone</a></li>
                <li><a href="">Simplify Goals</a></li>
                <li><a href="">ResQ</a></li>
            </ul>
        </div>
        
    </nav>
    <h1>Shadowveil StudioZ</h1>

</body>

</html>