<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowveil StudioZ</title>
    <link rel="canonical" href="https://gsatvik.com/Shadowveil-StudioZ" />
    <meta name="description"
        content="Shadowveil StudioZ is a creative studio building games, productivity apps, and immersive experiences. Discover Spiele Zone, Simplify Goals, and more." />


    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Shadowveil StudioZ",
        "url": "https://gsatvik.com/Shadowveil-StudioZ",
        "logo": "https://www.gsatvik.com/images/ssz-logo-def.png",
        
        "description": "Shadowveil StudioZ creates narrative games, productivity tools, and digital experiences. Known for Spiele Zone and Simplify Goals."
    }   

    </script>


    <link rel="stylesheet" href="styles2.css">
</head>

<body>
    <nav class="no-phone">
        <div class="logo">
            <a href="/shadowveil-studioZ">
                <img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo">
            </a>
        </div>
        <div class="nav-bar">
            <ul>
                <li><a href="https://spiele-zone.vercel.app/">Spiele Zone</a></li>
                <li><a href="/shadowveil-studioZ/simplify-goals">Simplify Goals</a></li>
                <li><a href="https://project-rescue.onrender.com/">ResQ</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <nav class="sc">
        <button id="toggle-btn"><img class="icon" src="/images/ssz-logo-def.png" alt="Shadowveil Logo"> Shadowveil
            StudioZ
        </button>
        <ul id="nav-menu">
            <li><a href="/shadowveil-studioZ/projects">Our Projects</a></li>
            <li><a href="/shadowveil-studioZ/simplify-goals">Meet the team</a></li>
            <li><a href="https://project-rescue.onrender.com/">Get involved.</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <h1>Shadowveil StudioZ</h1>
    <h2>Welcome to the Main Page of Shadowveil Studio</h2>
    <section>
        <h3>Our Services</h3>
        <div>
            <h4>Web Services</h4>
            <ul>
                <li>We have a web site called Spiele Zone</li>
            </ul>
            <h4>Upcoming Apps</h4>
            <ol>
                <li>simplify goals</li>
                <li>ResQ- Find Clues, Solve MYsteries.</li>
            </ol>
        </div>
    </section>

</body>
<script>document.getElementById("toggle-btn").addEventListener("click", function () {
        const menu = document.getElementById("nav-menu");
        menu.style.display = (menu.style.display === "block") ? "none" : "block";
    });
</script>

</html>