<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadowveil StudioZ</title>
    <link rel="canonical" href="https://gsatvik.com/Shadowveil-StudioZ" />
    <meta name="description"
        content="Shadowveil StudioZ is a creative studio building games, productivity apps, and immersive experiences. Discover Spiele Zone, Simplify Goals, and more." />

    <link rel="stylesheet" href="styles2.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="/images/ssz-logo-def.png" alt="Shadowveil Logo">
        </div>
        <div class="nav-bar">
            <ul>
                <li>Spiele Zone</li>
                <li>Simplify Goals</li>
                <li>ResQ</li>
            </ul>
        </div>
    </nav>
    <h1>Shadowveil StudioZ</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur nostrum atque minus earum iste! Tempore
        consectetur maiores cumque consequuntur voluptatem hic fugit inventore quibusdam ipsum nisi illo sunt minima nam
        maxime enim ab dolorum sit, esse eaque placeat corporis deleniti sed vitae quisquam! Temporibus nulla culpa a
        architecto consequatur sed voluptatum voluptates non dolores laudantium, tempore fugiat alias fugit consectetur,
        dolorum saepe facilis nemo.</p>
</body>

</html>