<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term of Services for Satviky's Web Resume</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="keywords"
        content="projects by Satviky, dedicated page for all the links, Satvik Gupta, Satviky AEC, Satvik Gupta AEC, Satvik Gupta Makaut, Does Satvik Gupta have a link tree?, satviky link tree, link tree of satvik gupta,Project Rescue - game by Indian devs">

    <meta name="description" content="All the links for the projects/websites developed by Satviky">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4298206497431690"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="p-3 mb-2 bg-black text-white d-flex justify-content-lg-between">
        <div class="my-name"> Satviky </div>
        <div class="nav-default">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects"> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ai">Artificial Intelligence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="nav-phone">
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    &#8801;
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home Page</a></li>
                    <li><a class="dropdown-item" href="/cv">CV</a></li>
                    <li><a class="dropdown-item" href="/projects">Projects</a></li>
                    <li><a class="dropdown-item" href="/ai">AI</a></li>
                    <li><a class="dropdown-item" href="/contact">Contacts</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <h1>Terms Of Service</h1>
    <h2>Welcome</h2>
    <p>Welcome to Satviky's web resume site. By accessing or using this website, you agree to these Terms of Service.
        These terms outline the rules and limitations regarding your use of the site. If you do not agree to these
        terms, please refrain from using the site.</p>

    <h2>Purpose</h2>
    <p>This website is designed to showcase the professional achievements, skills, and experiences of Satviky. All
        content on this website is provided for informational purposes and is intended to assist potential employers,
        collaborators, or other individuals seeking information about satviky's career.</p>

    <h2>Use of Content</h2>
    <h3>Personal Use Only:</h3> 
    The information and materials on this website may be viewed and downloaded for personal use only.
    Redistribution, modification, or commercial use of any part of the website is strictly prohibited.

    <h3>Copyright:</h3> All content on this site, including text, images, and graphics, is owned by Satviky unless otherwise
    noted. Unauthorized reproduction or use of the content without prior written consent is prohibited.

    <h2>Accuracy of Information</h2>
    <p>While every effort is made to ensure the accuracy of the information provided on this site, Satviky does not guarantee that the content is free from errors or omissions. Visitors are responsible for verifying any information before relying on it.</p>

    <h2>Third Party Link</h2>
    <p>This website may contain links to external websites or resources. These links are provided for convenience and informational purposes only. Satviky is not responsible for the content or availability of these external resources.</p>


    <section class="end">
        <!-- <div>This website is under development.</div> -->
        <div style="color: #353935;"> &copy; Satviky</div>
    </section>
    <footer>Drop in some more ideas for new and great websites.</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>