*{
  margin: 0;
  padding: 0;
}
:root {
  background:
    radial-gradient(circle at 20% 20%, #11111f, transparent),
    radial-gradient(circle at 80% 80%, #19021f, transparent),
    #0b0b12;
    color:aliceblue;
}
