* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #353935;
    --text-color: #f4f4f4;
    --header-bg: #18121b;
    --footer-bg: #202020;
    --link-color: lavender;
    --button-bg: #333;
    --button-text: white;
    --bs-nav-link-color: aliceblue;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: all 1s ease-out;
}

.icon {
    height: 4em;
    width: 4em;
}

nav {
    padding: 5px;
    background: #202020
}

nav, nav div ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li,
li>a {
    list-style: none;
    color: var(--link-color);
    text-decoration: none;
}

nav div ul {
    width: 60vw;
}

.sc {
    display: none;
}

#km{
    margin:5px;
    padding: 5px;
    background: #333;
    color: white;
    border-radius:5px;
    border: solid #191818
}

#km:hover{
    background: #18121b;
}

section,ul{
    margin: 5px;
}

.sep{
    height: 5px;
    width: 95vw;
    background-color: whitesmoke;
    opacity: 50%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .no-phone {
        display: none;
    }

    .sc {
        display: block;
    }

    #toggle-btn {
        background: none;
        color: white;
        border: none;
        font-size: 20px;
        cursor: pointer;
        height: 4em;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nav-menu {
        list-style: none;
        padding: 0;
        display: none;
    }

    #nav-menu li {
        padding: 10px;
        background: #444;
    }

    #nav-menu a {
        color: white;
        text-decoration: none;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in;
}